---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Univers — La Cité des Roses">
  <section class="card">
    <h1 class="page-title">Univers</h1>

    <div class="home-grid">
      <article class="home-block">
        <h2>Lieux</h2>
        <p>
          Pays, villes, lieux spécifiques.
        </p>
        <a class="btn-primary" href="/univers/lieux">
          Voir les lieux
        </a>
      </article>

      <article class="home-block">
        <h2>Objets</h2>
        <p>
         Les objets importants du lore et du scénario.
        </p>
        <a class="btn-primary" href="/univers/objets">
          Consulter les objets
        </a>
      </article>
    </div>
  </section>
</BaseLayout>
